table{
    border-style: solid;
    width: 500px;
    margin-left: 350px;
    background-color: darkgray;
}
.title{
    border-style: solid;
    background-color: deepskyblue;
}
#naam{
    font-family: cursive;
    font-weight: bold;
    background-color: chartreuse;
}
td{
    border-style: solid;
    background-color: chocolate;

}
.title2{
    background-color: deepskyblue;
    width: 15px;
}
.table{
    position: relative;
    bottom: 40px;
    z-index: 1;
    opacity: 0.5;
}